@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

body {
	font-family: 'Koulen', cursive;

	}

#main-header{

background: rgb(194,54,54);
background: linear-gradient(142deg, rgba(194,54,54,1) 50%, rgba(95,2,244,1) 85%, rgba(93,0,243,1) 89%, rgba(102,10,248,1) 93%);
	
	width: 100%;
	padding: 5px 15px;
	left: 0;
	top: 0;
	position: fixed;
	border-radius: 20px;
}

.pregunta1{

	margin-top: 190px;
	width: 100%;
	padding: 5px;

	background: rgb(194,54,54);
background: linear-gradient(142deg, rgba(194,54,54,1) 50%, rgba(93,0,243,1) 76%, rgba(102,10,248,1) 95%);
}

.pregunta2{

	margin-top: 190px;
	width: 100%;
	padding: 5px;

	background: rgb(194,54,54);
background: linear-gradient(142deg, rgba(194,54,54,1) 50%, rgba(95,2,244,1) 85%, rgba(93,0,243,1) 89%, rgba(102,10,248,1) 93%);

}

.pregunta3{

	margin-top: 190px;
	width: 100%;
	padding: 5px;

	background: rgb(194,54,54);
background: linear-gradient(142deg, rgba(194,54,54,1) 50%, rgba(95,2,244,1) 85%, rgba(93,0,243,1) 89%, rgba(102,10,248,1) 93%);

}
.puntaje {
	width: 20%;
	background-color: #33cc33;
	border: solid 2px #145214;
	padding: 2px 3px 2px 5px;
	font-size: 2em;
}

#nombre {
	font-size: 2em;
	color: #fff;
	text-shadow: 4px 4px 8px #fff;
}

i{
	font-size: 4em;
}